<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/reg_form.css" rel="stylesheet" type="text/css" media="all">
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!--   <script src="/js/manager_dashboard.js"></script>   -->
  <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="http://localhost:3000/manager">H Manager</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="http://localhost:3000/manager">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Add</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a href="http://localhost:3000/manager/doctor">Doctor</a>
            </li>
            <li>
              <a href="http://localhost:3000/manager/receptionist">Receptionist</a>
            </li>
            <li>
              <a href="http://localhost:3000/manager/nurse">Nurse</a>
            </li>
            <li>
              <a href="http://localhost:3000/manager/maintenance">Maintenance</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="http://localhost:3000/manager/modify">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Modify</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="http://localhost:3000/manager/stats">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Stats and Settings</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="http://localhost:3000/manager/complaints">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Complaints</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="http://localhost:3000/manager/settings">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Account Settings</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="http://localhost:3000/manager">Manager</a>
        </li>
        <li class="breadcrumb-item active">Add Staff - Doctor</li>
      </ol>
      
        <div class="agile-header">
    <h1>NEW STAFF - DOCTOR</h1>
    <p>Please fill appropriate and accurate values in each field. The staff would receive an e-mail about this entry.</p>
  </div>
  <!--//header-->
  <!--main-->
  <div class="agileits-main">
    <div class="wrap">
    <form method="post">
      <ul>
        <li class="text">name  :  </li>
        <li><input name="name" type="text" required></li>
      </ul>
      <ul>
        <li class="text">Qualification  :  </li>
        <li><input name="qual" type="text" required></li>
      </ul>
       <ul>
        <li class="text">Type  :  </li>
        <li><input name="doctype" type="text" required></li>
      </ul>
      <ul>
        <li class="text">Prev Experience  :  </li>
        <li><input name="exp" type="text" required></li>
      </ul>
      <ul>
        <li class="text">Salary  :  </li>
        <li><input name="salary" type="text" required></li>
      </ul>
      <ul>
        <li class="text">Address :  </li>
        <li><input name="addr" type="text" required></li>
      </ul>
      <ul>
        <li class="text">City  :  </li>
        <li><input name="city" type="text" required></li>
      </ul>
      <ul>
        <li class="text">State  :  </li>
        <li><input name="state" type="text" required></li>
      </ul>
      <ul>
        <li class="text">E-mail  :  </li>
        <li><input name="mail" type="text" required></li>
      </ul>
      <ul>
        <li class="text">Alternate E-mail  :  </li>
        <li><input name="amail" type="text" ></li>
      </ul>
      <ul>
        <li class="text">Contact  :  </li>
        <li><input name="contact" type="text" required></li>
      </ul>
      <ul>
        <li class="text">Alternate Contact  :  </li>
        <li><input name="acontact" type="text" ></li>
      </ul>
      <ul>
        <li class="text">Gender  :  </li>
         
  <select id="select" name="gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="other">Other</option>
  </select>

      </ul>
      <div class="clear"></div>
      <div class="agile-submit">
        <input type="submit" value="submit">
        <input type="reset" value="reset">
      </div>

      <ul>
        <% if(error == '0'){ %>
        <li class="error">PLEASE INSERT APPROPRIATE VALUES</li>
      <% } %>
        <% if(error == '1'){ %>
        <li class="msg">INSERTION SUCCESSFUL</li>
        <% } %>
      </ul>
      
      </form>
    </div>  
  </div>
      
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="http://localhost:3000/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
  </div>
</body>

</html>
